:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin: 0;
}

#total {
  font-weight: 600;
  padding: 0 0.5rem 0.5rem;
  text-align: end;
}

.main-container {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  border: 1px solid #eee;
  padding: 1rem;
  margin: 1rem;
}

.master-detail-wrapper {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  border: 1px solid #eee;
}

.detail-wrapper {
  display: flex;
  justify-content: center;
  flex: 2;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50dvh;
}
